/* src/App.css */
.app {
  display: flex;
  font-family: Arial, sans-serif;
}

.content {
  flex: 1;
 
  transition: margin-left 0.3s;
}

.sidebar.collapsed + .content {
  margin-left: 60px; /* Adjust margin for the collapsed sidebar */
}
a{
  text-decoration: none;
  list-style: none;
}


/* custom-calendar.css */

.react-calendar {
  width: 100% !important;
  max-width: 100%;
  border: none;
}

.react-calendar__tile {
  padding: 0.75rem;
  font-size: 0.875rem;
}

.react-calendar__tile--active {
  background: #3b82f6;
  color: white;
  border-radius: 0.375rem;
}
